.app-layout {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

.form-edit {
  width: 250px;
  border: 1px solid rgba(0, 0, 0, .12);
  padding: 10px 25px 10px 25px;
}

.table-cell {
  width: 120px;
}

.table-cell_age {
  width: 40px;
  text-align: center;
}

.readonly {
  border: 0;
  background-color: transparent;
}

.mdl-data-table td {
  padding: 8px 14px;
}

.mdl-button--primary {
  width: 70px;
}

.mdl-button--accent {
  width: 92px;
}
