html, body {
  width: 100%;
  min-width: 320px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page-header {
  height: 240px;
}

.page-header__top {
  height: 103px;
  background-color: #282D30;
}

.page-header__logo {
  position: relative;
  top: 7px;
  z-index: 1;
  height: 103px;
  background: url('./quack.png') center top no-repeat;
  background-size: contain;
}

.page-title {
  margin: 65px auto 55px auto;
  text-align: center;
  font-size: 36px;
}

.page-content {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.inverted-text {
  display: inline-block;
  transform: rotate(-180deg);
}

.upper-text {
  text-transform: uppercase;
}

.button-remove {
  padding: 7px 12px 7px 12px;
  border: 0;
  border-radius: 15px;
  outline: none;
}

.button-remove:hover {
  background-color: #282D30;
  color: #FFFFFF;
  cursor: pointer;
}

.page-footer {
  position: relative;
  background-color: #282D30;
  height: 103px;
}

.page-footer_margin {
  margin-top: 325px;
}

.page-footer__copyright {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -14px;
  text-align: center;
  color: #797C7C;
  font-size: 12px;
}