body {
  font-family: 'Roboto', sans-serif;
}

.page-content {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.page-title {
  margin: 65px auto 55px auto;
  text-align: center;
}

.inverted-text {
  display: inline-block;
  transform: rotate(-180deg);
}

.form__row {
  width: 100%;
  overflow: hidden;
}

.cell {
  float: left;
  box-sizing: border-box;
  padding: 15px 10px 15px 10px;
}

.cell:first-of-type {
  padding-left: 0;
}

.cell:last-of-type {
  padding-right: 0;
}

.cell__4 {
  width: 33.333333%;
}

.cell__12 {
  width: 100%;
}

.form__input {
  width: 100%;
  height: 37px;
  padding: 10px;
  box-sizing: border-box;
}

.form__input:focus{
  outline: none;
}

.form__input:hover {
  cursor: pointer;
}

.form__radio-color {
  display: none;
}

.form__label-color {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-color: black;
  border-radius: 50%;
  border: 4px solid white;
}

.form__label-color_white {
  background-color: white;
  box-shadow: inset 0 0 1px grey;
}

.form__label-color_black {
  background-color: black;
}

.form__label-color_grey {
  background-color: grey;
}

.form__label-color_red {
  background-color: red;
}

.form__label-color_green {
  background-color: green;
}

.form__radio-color_white:checked ~ .form__label-color_white,
.form__radio-color_black:checked ~ .form__label-color_black,
.form__radio-color_grey:checked ~ .form__label-color_grey,
.form__radio-color_red:checked ~ .form__label-color_red,
.form__radio-color_green:checked ~ .form__label-color_green {
  border: 4px solid #C4092F;
}

.form__submit {
  width: 100%;
  height: 37px;
  border: 0;
  box-sizing: border-box;
  background-color: #C4092F;
  color: #FFFFFF;
}

.table {

}

.table__row {
  width: 100%;
  overflow: hidden;
}

.table__row_header {
  background-color: #C4092F;
  color: #FFFFFF;
}

.table__cell {
  float: left;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

.table__cell_name {
  width: 100%;
  margin-right: -550px;
}

.table__cell_name div {
  margin-right: 550px;
}

.table__cell_year {
  width: 90px;
}

.table__cell_color {
  width: 100px;
}

.table__cell_status {
  width: 120px;
}

.table__cell_price {
  width: 120px;
}

.table__cell_action {
  width: 120px;
}

.button-remove {
  padding: 7px 12px 7px 12px;
  border: 0;
  border-radius: 15px;
  outline: none;
}

.button-remove:hover {
  background-color: #282D30;
  color: #FFFFFF;
  cursor: pointer;
}
